body {
  font-family: 'SkarpaLt';
  font-size: 18px;
  background: #000000;
  color: #fff;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

/** Header Section */
#headerwrap {
    background: url(../images/back.png) no-repeat center top;
    margin-top: -10px;
    padding-top: 20px;
    text-align: center;
    min-height: 750px;
    background-attachment: relative;
    background-position: center center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100% 100%;
}

#headerwrap i {
    padding-top: 555px;
    color: #fff;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/** End of Header Section */

/** Sosmed Section */
#socmed {
    background: #FF6190;
    color: #fff;
    padding-top: 35px;
    padding-left: 35px;
    text-align: center;
    height: 150px;
}


/** End of Socmed Section */

/** Footer Section */
#footer {
    font-family: monospace;
    background: #F3E8DA;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}
#footer h3 {
    font-size: 14px;
    color: #260138;
}
/** End of Footer Section */
